<p>Main menu</p>
<ul>
  <li><a href="/contacts/new">Create new contact</a></li>
  <li><a href="/modify">Modify an existing contact</a></li>
  <li><a href="/delete">delete a contact</a></li>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/search">Search contacts</a></li>
</ul>
