<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ilia's CRM</title>
  </head>
  <header>
    <h1>Welcome to <%= @@crm_app_name %> </h1>
  </header>
  <body>


<%= yield %>

  </body>
</html>
